.container {
    max-width: 70vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom:2px solid #0056b3;
    width: 16rem;
}

.form-group {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

label {
    display: block;
    font-weight: bold;
}

.developer-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

/* button[type="submit"]:hover {
    background-color: #0056b3;
} */
