*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: large;
  
}
.login-container-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(219, 219, 219);
  align-items: center;
}

.login-container-2 img{
  height: 16vh;
  width: 18vh;
}
.login-container-2{
  border: 2px solid rgb(255, 255, 255);
  border-top-color: #007bff;
  border-radius: 0.75vi;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vi;
  width: 30vw;
  height: 87vh;
  padding-top: 2vi;
  margin-bottom: 2vi;
  background-color: white;
  margin-top: 4vi;
}
.login-container-3 {
  margin-top: -20px;
}
.login-container-3 input{
  width: 22vw;
}
.login-container-2 h1{
  font-size: xx-large;
}
.login-container-2 h3{
  font-size: x-large;
}
.login-container-2 span{
  color: #3f51ba;
}
/* .login-container-2 .submit{
  background-color: aquamarine;
  border-radius: 0.2vi;
  height: 3.1vi;
  width: 8vi;
  border: none;
  font-size: medium;
} */
#login-btn {
  margin-top: 10px;
  margin-left: 35%;
}
.login-container-2 .register{
  font-size: medium;
  background-color: #4ea3ff;
  border: none;
  border-radius: 0.3vi;
  width: 8vi;
  height: 3.1vi;
  margin-top: 10px;
}
.login-container-2 .forget-password{
  font-size: 1.2vi;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 0.3vi;
  width: 8vi;
  margin-top: 10px;
  height: 3.1vi;
  line-height: 2.5vh;
  
}
.login-container-2 button:hover{
  transform:scale(1.1);
  cursor: pointer;
}
.login-container-3{
  display: flex;
  flex-direction: column;
  row-gap: 0.1vi;
}
.login-container-2 .Lower-buttons{
  display: flex;
  column-gap: 2.5vi;
}
/* <<<<<<< HEAD */

/* ======= */
.login-top{
  padding: 1vi;
  border: 1px solid rgb(255, 255, 255);
  height: 4vh;
  padding: right;
  align-items: flex-start;
  color: #007bff;
}



.Register-container-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(219, 219, 219);
  align-items: center;
}

.Register-container-2 img {
  margin-top: 10px;
  height: 16vh;
  width: 18vh;
}

.Register-container-2 {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0.75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4.5vh;
  width: 35vw;
  height: 90vh;
  padding-top: 2vh;
  margin-bottom: 6vh;
  background-color: white;
  border-top-color: #007bff;
  margin-top: 4vh;
}
.Register-container-2 h1{
  margin-top: -25px;
  font-size: 22px;
}
.input-group {

}
.register-label {
  font-size: 1.2rem;
}
.register-input {
  height: 5vh;
}
.Register-container-3 label {
  color: #4285f4;
}

.Register-container-2 .submit {
  /* background-color: aquamarine;
  border-radius: 0.7vi;
  height: 3.2vi;
  width: 8vi;
  border: none;s
  cursor: pointer; */
}
#register-btn {
  margin-top: 10px;

}
.input-group input{
  width: 18vi;
}
.Register-container-2 .submit:hover{
  transform: scale(1.1);
}
.input-group input:focus{
  border: 2px solid #35aeff;
  box-shadow: 0 0 5px #35aeff;
}
.Register-container-3 {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  margin-top: -30px;
}

.Register-top {
  padding: 1vh;
  border: 1px solid rgb(255, 255, 255);
  height: 4vh;
  padding-right: 1vh;
  align-items: flex-start;
  color: #007bff;
}
#name{
  /* margin-left: 3.8vi; */
}
#enrollment{
  /* margin-left: 0.7vi; */
}


/***** home-section *****/  
.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.home-section {
  display: flex;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 600px;
  height: 300px;
  background-color: whitesmoke;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.home-section-common {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-logo {
  font-size: 10rem;
  color: #4285f4;
}
#home-logo-admin {
  font-size: 10rem;
}


/***** End home-section *****/
